

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


body {
	color: black;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mobile-container {
	margin-top: 20px;	
}

.survey {
	margin-top: 10px;
	font-size: 30px;	
}

.header {
	font-size: 30px;
}

footer {
	color: white;
	background-color: rgb(0,163,210);
	text-align: center;
}

.container {
	width: auto;
}

.hidden {
	visibility: hidden;
}






